<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi Contacto</title>

    {% load i18n %}
    {% load staticfiles %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "semantic/dist/semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/fine-uploader-gallery.css" %}">

    <!-- JS -->
    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "semantic/dist/semantic.min.js" %}"></script>
    <script src="{% static "node_modules/fine-uploader/s3.jquery.fine-uploader/s3.jquery.fine-uploader.min.js"  %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.address.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>
    <script src="{% static "js/base.js" %}"></script>
</head>
<body>

    <div id="profile-menu" class="ui top attached teal inverted secondary menu">
            <div class="ui container">
                <div class="item" id="main-searchbar">
                    <select class="ui fluid search dropdown" multiple></select>
                </div>
                <div class="right menu">
                    {%  if user.is_authenticated %}
                  <a href="/myprofile/" id="profile-button" class="ui right aligned item">
                      <img class="ui avatar image" src="http://philosophy.ucr.edu/wp-content/uploads/2014/10/no-profile-img-240x300.gif">
                  </a>
                  <a id="logout-button" class="ui right aligned item">{% trans "Salir" %}</a>
                    {% else %}
                        <a id="login-button" class="ui right aligned item">{% trans "Ingresar" %}</a>
                  <a id="signup-button" class="ui right aligned item">{% trans "Únete" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>

    {% block content %}
    {% endblock %}

{#    <div id="tab-menu" class="ui four item top attached tabular teal inverted menu">#}
{#      <a id="mic-tab" class="active item">MiCs</a>#}
{#      <a id="story-tab" class="item">Historia</a>#}
{#      <a id="product-tab" class="item">Productos</a>#}
{#      <a id="entrepeneur-tab" class="item">Emprendedores</a>#}
{#    </div>#}
{#    <div id="main-content" class="ui bottom attached segment">#}
{#        {% block content %}#}
{#        {% endblock %}#}
{#    </div>#}

    <div id="main-tools-container">
        <div id="card-container" class="ui link four doubling cards"></div>
        <a class="card">
{#            <div class="image">#}
{#              <img src="">#}
{#            </div>#}
            <div id="image-loading" class="content">
                <div class="ui active inline centered loader"></div>
            </div>
            <div class="content">
              <div class="header"></div>
              <div class="description"></div>
            </div>
          </a>
    </div>

    <div id="signup-modal" class="ui small long modal">
      <div class="header">{% trans "Registro" %}</div>
      <div class="content">
        <div id="signup-form" class="ui large form">
          <div class="ui stacked segment">
            <div class="two fields">
              <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="first_name" placeholder="{% trans "Nombre" %}">
                  </div>
              </div>
              <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="last_name" placeholder="{% trans "Apellidos" %}">
                  </div>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="at icon"></i>
                <input type="text" name="email" placeholder="{% trans "Correo electrónico" %}">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="{% trans "Contraseña" %}">
              </div>
            </div>
            <div class="ui fluid large teal submit button">{% trans "Regístrate" %}</div>
              <div class="ui horizontal divider">
                  {% trans "O" %}
              </div>
              <div class="ui facebook large fluid button">
                  <i class="facebook icon"></i>
                  {% blocktrans %}Regístrate con{% endblocktrans %} Facebook
                </div>
          </div>

          <div class="ui error message"></div>

        </div>
      </div>
    </div>

    <div id="login-modal" class="ui small modal">
      <div class="header">{% trans "Inicio de sesión" %}</div>
      <div class="content">
        <div id="login-form" class="ui large form">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="at icon"></i>
                <input type="text" name="email" placeholder="{% trans "Correo electrónico" %}">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="{% trans "Contraseña" %}">
              </div>
            </div>
            <div class="ui fluid large teal submit button">{% trans "Ingresar" %}</div>
              <div class="ui horizontal divider">
                  {% trans "O" %}
              </div>
              <div class="ui facebook large fluid button">
                  <i class="facebook icon"></i>
                  {% blocktrans %}Ingresar con{% endblocktrans %} Facebook
                </div>
          </div>

          <div class="ui error message"></div>

        </div>
      </div>
    </div>


    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Arrastrar fotos aquí">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Subir foto</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Procesando archivos...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        Reintentar
                    </button>

                    <div class="qq-file-info">
{#                        <div class="qq-file-name">#}
{#                            <span class="qq-upload-file-selector qq-upload-file"></span>#}
{#                            <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>#}
{#                        </div>#}
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Eliminar"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pausar"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continuar"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>

</body>
</html>