{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% load staticfiles %}


    <div id="tab-menu" class="ui four item top attached tabular teal inverted menu">
      <a href="/" id="mic-tab" class="item">MiCs</a>
      <a href="/stories/" id="story-tab" class="item">Historias</a>
      <a href="/products/" id="product-tab" class="item">Productos</a>
      <a href="/entrepreneurs/" id="entrepeneur-tab" class="item">Emprendedores</a>
    </div>

    <div id="main-content" class="ui bottom attached segment" mic-id="{{ mic_id }}" is-owner="{{ is_owner }}">
        <div class="ui five column grid">
            <div class="column">
              {% if can_follow %}
                  <div id="follow-button" class="ui circular icon button">
                      <i class="icon"></i>
                  </div>
              {% endif %}
            </div>
            <div class="column"></div>
            <div class="column"><h1 class="ui centered header">{{ mic_name }}</h1></div>
            <div id="tag-column" class="column"></div>
            <div class="column"></div>
        </div>

        <div class="ui centered grid">
            <div class="center aligned column">
                <div class="ui compact secondary menu">
                  <a class="active item" data-tab="mic-story">Historia</a>
                  <a class="item" data-tab="mic-products">Productos</a>
                  <a class="item" data-tab="mic-gallery">Galería</a>
                </div>
            </div>
        </div>

        <div class="ui container">
            <div class="ui tab" data-tab="mic-story">
                <div id="createpost-form" class="ui form">
                  <div class="field">
                    <textarea rows="2" name="text"></textarea>
                  </div>
                    <div class="field">
                        <div id="fine-uploader-story"></div>
                    </div>
                  <div class="ui large teal submit button">{% trans "Publicar" %}</div>
                </div>
                <div id="posts-container" class="ui container"></div>
            </div>
            <div class="ui tab" data-tab="mic-products"></div>
            <div class="ui tab" data-tab="mic-gallery"></div>
        </div>
    </div>

    <div id="createproduct-modal" class="ui small modal">
      <div class="header">{% trans "Crear Producto" %}</div>
      <div class="content">
        <div id="createproduct-form" class="ui large form">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="name" placeholder="{% trans "Nombre" %}">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="align justify icon"></i>
                <input type="text" name="description" placeholder="{% trans "Descripción" %}">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="money icon"></i>
                <input type="text" name="price" placeholder="{% trans "Precio" %}">
              </div>
            </div>
              <div class="field">
                  <label>Fotos</label>
                <div id="fine-uploader-product"></div>
              </div>
            <div class="ui fluid large teal submit button">{% trans "Crear" %}</div>
          </div>

          <div class="ui error message"></div>

        </div>
      </div>
    </div>

{#    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>#}
{#    <script src="{% static "js/jquery.address.js" %}"></script>#}
    <script src="{% static "node_modules/fine-uploader/s3.jquery.fine-uploader/s3.jquery.fine-uploader.min.js"  %}" type="text/javascript"></script>
    <script src="{% static "node_modules/autosize/dist/autosize.min.js"  %}" type="text/javascript"></script>
    <script src="{% static "js/mic_profile.js" %}"></script>
{% endblock %}