{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% load staticfiles %}


    <div id="tab-menu" class="ui four item top attached tabular teal inverted menu">
      <a href="/" id="mic-tab" class="item">MiCs</a>
      <a href="/stories/" id="story-tab" class="item">Historias</a>
      <a href="/products/" id="product-tab" class="active item">Productos</a>
      <a href="/entrepreneurs/" id="entrepeneur-tab" class="item">Emprendedores</a>
    </div>

    <div id="main-content" class="ui bottom attached segment">

    </div>


{#    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>#}
    <script src="{% static "js/products.js" %}"></script>
{% endblock %}