{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">

    <div id="tab-menu" class="ui four item top attached tabular teal inverted menu">
      <a href="/" id="mic-tab" class="item">MiCs</a>
      <a href="/stories/" id="story-tab" class="item">Historias</a>
      <a href="/products/" id="product-tab" class="item">Productos</a>
      <a href="/entrepreneurs/" id="entrepeneur-tab" class="item">Emprendedores</a>
    </div>

    <div id="main-content" class="ui bottom attached segment" user-id="{{ person.user_id }}" my-profile="{{ my_profile }}">
        <div class="ui grid">
          <div id="profile-content" class="eight wide column">
            <img class="ui small circular top aligned image" src="http://philosophy.ucr.edu/wp-content/uploads/2014/10/no-profile-img-240x300.gif">
              <h3 class="ui header">{{ person.first_name }} {{ person.last_name }}</h3>
              {% if can_follow %}
                  <div id="follow-button" class="ui circular icon button">
                      <i class="icon"></i>
                  </div>
              {% endif %}
          </div>
          <div id="mic-content" class="eight wide column">
              <h3 class="ui header">MiCs</h3>
              <div class="ui list"></div>
            {% if my_profile %}
              <div id="createmic-button" class="ui fluid button">
                  <i class="plus icon"></i>
                  {% blocktrans %}Crear un MiC{% endblocktrans %}
              </div>
            {% endif %}

              <h3 class="ui header">Contactos</h3>
          </div>
        </div>
    </div>


    <div id="tools-container">
      <div class="item">
        <img class="ui avatar image" src="">
        <div class="content">
          <a class="header"></a>
          <div class="description"></div>
        </div>
      </div>
    </div>

    <div id="createmic-modal" class="ui small modal">
      <div class="header">{% trans "Crear MiC" %}</div>
      <div class="content">
        <div id="createmic-form" class="ui large form">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="name" placeholder="{% trans "Nombre" %}">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="align justify icon"></i>
                <input type="text" name="description" placeholder="{% trans "Descripción" %}">
              </div>
            </div>

              <div class="field">
                  <label>Logo</label>
                <div id="fine-uploader"></div>
              </div>


              <div class="field">
                  <select class="ui fluid search dropdown" multiple></select>
              </div>

            <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden" name="anonymous" />
                  <label>{% trans "Anónimo" %}</label>
                </div>
              </div>
            <div class="ui fluid large teal submit button">{% trans "Crear" %}</div>
          </div>

          <div class="ui error message"></div>

        </div>
      </div>
    </div>


    <script src="{% static "js/profile.js" %}"></script>
{% endblock %}

